image: node:20

pages:
  stage: deploy
  tags:
    - shared
  cache:
    paths:
      - node_modules/
  script:
    - npm ci
    - npm run docs:build
    - mv docs/.vitepress/dist public
  artifacts:
    paths:
      - public
  only:
    - main
